[Unit]
Description=Run the check_memo.py script on boot
Requires=memo_check.service

[Timer]
Unit=memo_check.service
OnBootSec=15

[Install]
WantedBy=timers.target
